/* App.css */

.fade-enter {
  opacity: 0;
  will-change: transform, opacity;
  transform: translateY(10px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  will-change: transform, opacity;
  transform: translateY(-10px);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.nav-link {
  position: relative;
  display: inline-block; /* Ensures transform and positioning work correctly */
}

.nav-link:hover {
  /* The color transition is already handled by Tailwind's `hover:text-white` */
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -4px; /* Adjust this value to position the line */
  left: 0;
  background-color: #818cf8; /* Corresponds to Tailwind's `text-indigo-400` */
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Project Card Flip Animation */
.project-card-container {
  perspective: 1000px;
  min-height: 280px; /* Adjust as needed for your content */
}

.project-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.project-card-container:hover .project-card {
  transform: rotateY(180deg);
}

.project-card-front,
.project-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  /* Tailwind's rounded-xl is 0.75rem */
  border-radius: 0.75rem; 
}

.project-card-back {
  transform: rotateY(180deg);
  /* Ensure content is scrollable if it overflows on smaller cards */
  overflow-y: auto;
}


/* Adds a subtle gradient animation to the background */
body {
  background: linear-gradient(45deg, #1c1c1c, #2e2e2e);
  background-size: 400% 400%;
  animation: gradientAnimation 10s infinite alternate;
}
